<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - GentleForm Demo</title>
  <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700" rel="stylesheet">
<link href="https://fontastic.s3.amazonaws.com/YKLiEB5nKeTck7NdBGoGKY/icons.css" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="toaster"></div>

<main class="wrapper">
  <section class="section-form">
    <h1>GentleForm</h1>
    <p>
      Accessible and user-friendly HTML5 form validation library.<br>
    </p>

    <form  action = "addcollege" method = "post" name="signup" class="form" >
      <div class="form-group">
        <label for="name" class="form-label form-label--required">
          Name:
        </label>

        <div class="form-addon" data-states-for="name">
          <div class="form-addon__addon">
            <span class="icon-name"></span>
          </div>

          <input type="text"
                 id="name"
                 name="name"
                 class="form-input"
                 placeholder="IIITA"
                 required>
          
          <span class="form-addon__icon icon-valid"></span>
          <span class="form-addon__icon icon-invalid"></span>
        </div>

        <div data-errors-for="name">
          <small class="form-error"
                 data-errors-when="valueMissing">
            This field is required.
          </small>
        </div>
      </div>

      <!-- <div class="form-group">
        <label for="email" class="form-label form-label--required">
          Email:
        </label>

        <div class="form-addon" data-states-for="email">
          <div class="form-addon__addon">
            <span class="icon-email"></span>
          </div>

          <input type="email"
                 id="email"
                 name="email"
                 class="form-input"
                 placeholder="andrew@email.com"
                 required>

          <span class="form-addon__icon icon-valid"></span>
          <span class="form-addon__icon icon-invalid"></span>
        </div>

        <div data-errors-for="email">
          <small class="form-error"
                 data-errors-when="valueMissing">
            This field is required.
          </small>
          
          <small class="form-error"
                 data-errors-when="typeMismatch">
            Please enter a valid email address.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="phone" class="form-label">
          Phone number:
        </label>

        <div class="form-addon" data-states-for="phone">
          <div class="form-addon__addon">
            <span class="icon-phone"></span>
          </div>

          <input type="text"
                 id="phone"
                 name="phone"
                 class="form-input"
                 placeholder="123 456 789"
                 pattern="[0-9]{3} [0-9]{3} [0-9]{3}">

          <span class="form-addon__icon icon-valid"></span>
          <span class="form-addon__icon icon-invalid"></span>
        </div>

        <div data-errors-for="phone">
          <small class="form-error"
                 data-errors-when="patternMismatch">
            Please enter a valid phone number.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="form-label form-label--required">
          Password <span class="text-muted">(minimum 6 characters)</span>:
        </label>

        <div class="form-addon" data-states-for="password">
          <div class="form-addon__addon">
            <span class="icon-password"></span>
          </div>

          <input type="password"
                 id="password"
                 name="password"
                 class="form-input"
                 placeholder="********"
                 minlength="6"
                 required>

          <span class="form-addon__icon icon-valid"></span>
          <span class="form-addon__icon icon-invalid"></span>
        </div>

        <div data-errors-for="password">
          <small class="form-error"
                 data-errors-when="valueMissing">
            This field is required.
          </small>
          
          <small class="form-error"
                 data-errors-when="tooShort">
            Your password should be at least 6 characters long.
          </small>
        </div>
      </div> -->

      <div class="form-footer">
        <button type="submit" class="button">Sign up</button>
      </div>
    </form>
  </section>
</main>
<!-- partial -->
  <script src='https://gabinaureche.com/GentleForm/dist/GentleForm.js'></script><script  src="./script.js"></script>

</body>
</html>
